<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="PHP" />
            <add name="PHP" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\php-7.0.0-nts-Win32-VC14-x86\php-cgi.exe" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
